@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html.body{
    height: 100%
}
*{
    margin: 0px;
    padding: 0px;
    font-family:"poppins", sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* Nav Bar First */
nav{
    padding: 0.5px 15px;
    width: 100%;
    font-size: small;
}

.flex{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navbar-one{
    background-color: rgb(6, 153, 129);
    color: white;
    cursor: pointer;
}

.left > div + div,
.right > div{
    margin-left: 15px;
}

.left > div:hover,
.right > div:hover{
    color: black;
    transition: all 0.5s;
}

span{
    margin-left: 2px;
}

/* Nav Bar Second */
.nav-bar{
    height: 40px;
    width: 100%;
    background-color: rgb(4, 108, 116);
    color: rgb(235, 17, 17);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: fixed;
}

.logo{
    background-image: url(./assets/images/Logo-removebg-preview.png);
    background-size: cover;
    height: 40px;
    width: 50px;
    margin: 15px;
}
.border:hover{
    border: 1px solid white;
}
.nav-address .add-a{
    color: rgb(209, 138, 6);
    font-size: 25px;
    font-weight:600;
}
.nav-address:hover{
    border: 1px solid white;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(113, 226, 230);
    width: 300px;
    height: 28px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 3px solid rgb(221, 147, 8);
}

.search-s{
   background-color: lightgray;
   width: 43px;
   text-align: center;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   border: none;
   
}
.search-i{
    width: 100%;
    font-size: 0.85rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(226, 169, 64);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: rgb(31, 30, 30);
}

.nav-list li{
    float: left;
    color: white;
    list-style: none;
    font: size 300px;;
}

.nav-list li:hover{
    border: 1.5px solid white;
 }

.nav-list li a{
    text-decoration: none;
    color: white;
    padding: 15px;
}

/* HERO SECTION */
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/images/Web\ Developers.jpg);
    background-size: cover;
    background-position: top;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:self-start;
}

.hero .contents{
    width: 60%;
    padding-left: 125px;
    margin-top: 0px;
}

.head-title h2{
    color: rgb(14, 13, 13);
    font-size: 25px;
    opacity: 0.7;
    margin-top: 0px;
}

.head-title h3{
    color:black;
    font-size: 40px;
    margin-top: -10px;
}
.head-title h3:hover{
    color:#9b5f06;
}


.head-title p{
    font-size: 20px;
    font-weight: 550;
    margin-top: auto;
    text-align:left;
    color: rgb(14, 13, 13);
    background: none;
}

.contents .btn{
    text-decoration: none;
    display:inline-block;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 6px;
    padding: 8px 10px;
    margin-top: 100px;
    transition: all 0.5s;
    cursor: pointer;
    width: 120px;
}

.contents .btn:hover{
    color:#885305;
    background-color: wheat;
    border: 3px solid #885305;
}

/* SERVICE SECTION */

.container-serv{
    min-height: 50vh;
    width: 100%;
    background-color: rgb(77, 137, 141);
}

.service-wrapper{
    padding: 3% 2%;
}

.service h1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: rgb(209, 138, 6);
    font-size: 0.5rem;
    letter-spacing: 2px;
    word-spacing: 5px;
    cursor: pointer;
    width: 100px;
    margin: 0px;
    border-radius: 10px;
    background: none;
}

.service h1:hover{
    color:#885305;
    background-color: wheat;
    border: 3px solid #885305;
}

h1::before{
    content: "";
    position: center;
    height: 1px;
    width: 90%;
    border-radius: 4px;
    background-color:  wheat;
}
h1::after{
    content: "";
    position: center;
    height: 1px;
    width: 90%;
    border-radius: 4px;
    background-color:  wheat;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
   margin-top: 30px;
    margin-bottom: 0px;
}
.card{
    height: 270px;
    width: 200px;
    background-color: rgb(6, 153, 129);
    padding: 3% 3%;
    padding-top: 10px;
    border: 2px solid rgb(4, 108, 116);
    border-radius: 10px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card i{
    color: whitesmoke;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}
.card:hover i{
    color:black;
}
.card h2{
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    text-align: center;
}
.card p{
    text-align: center;
    width: 100%;
    margin: 2px 2px;
    font-size: 10px;
    color:black;
}

.card:hover{
    background-color:rgb(221, 147, 8);
    transform: translateY(-8px);
    cursor: pointer;
    box-shadow: 4px 4px 4px #3b2709;
}

.card p:hover{
    background:none;
}

.card1{
    color: rgb(114, 5, 5);
    border: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: 400;
    margin-top: auto;
}
.card2{
    color: rgb(114, 5, 5);
    border: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: 400;
    margin-top: auto;
}
.card3{
    color: rgb(114, 5, 5);
    border: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: 400;
    margin-top: auto;
}  
.card4{
    color: rgb(114, 5, 5);
    border: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: 400;
    margin-top: auto;
} 
.card5{
    color: rgb(114, 5, 5);
    border: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: 400;
    margin-top: auto;
}  
.card6{
    color: rgb(114, 5, 5);
    border: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: 400;
    margin-top: auto;
} 

/* PORTFOLIO SECTION */

#portfolio{
    background-color: rgb(77, 137, 141);
    padding: 40px 30px;
    min-height: 0vh;
    width: 100%;
    margin: 0px 0px;
}
.portfolio h1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: rgb(209, 138, 6);
    font-size: 2rem;
    letter-spacing: 2px;
    word-spacing: 5px;
    cursor: pointer;
    width: 350px;
    margin-left: 10px;
    border-radius: 10px;
}
.portfolio h1:hover{
    color:#885305;
    background-color: wheat;
    border: 3px solid #885305;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 35px;
    margin-top: 30px;
}
.work{
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(66, 1, 1, 0.6),#f7de71);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    margin-top: 30px;
    font-size: 12px;
    font-weight: 500px;
    color: #fff;
    margin-bottom: 9px;
}
.layer p{
    font-size: 10px;
    font-weight: 400px;
    color: black;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    background: none;
}
.layer a{
    color: #885305;
    margin-top: 0px;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
    background: wheat;
    width: 30px;
    height: 30px;
    margin-bottom: 35px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    border: 2px solid wheat;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #885305;
}

/* About Me */

#about{
    background-color:  rgb(77, 137, 141);
    padding: 0px 50px;
}

.about-container h1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-container h1:hover{
    color:#885305;
    background-color: wheat;
    border: 3px solid #885305;
}
.about h2{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    width: 100%;
}
.about-container h2:hover{
    display: inline;
    flex-direction: column;
    align-items: center;
    color:rgb(197, 6, 6);
    font-size:xx-large;
    font-weight: 900; 
    border: 3px solid #02293f;
    border-radius: 5px;
    padding: 0px 5px;
    background: #c7c7c7;
}

.about p{
    background:none;
    font-size: medium;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 40px;
    border: 3px solid;
    border-color:rgb(3, 68, 57);
    border-radius: 10px;
    text-align:justify;
    padding: 15px 15px 15px 15px;
}
.about-container p:hover{
    display:flex;
    flex-direction: column;
    color: rgb(3, 71, 116);
    font-size: 23px;
    font-weight: 100; 
    border: 3px solid #eaeef0;
    border-radius: 5px;
    padding: 0px 5px;
    background: #c7c7c7;
}


/* Contact Info */
#contact{
    background-color: rgb(77, 137, 141);
    padding: 20px 30px;
}
.contact-left{
    flex-basis: 0%;
    margin-top: 25px;
    margin-left: 15px;
}
.contact-right{
    flex-basis: 100%;
    margin-right: 15px;
}
.contact-container h1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: rgb(209, 138, 6);
    font-size: 2rem;
    letter-spacing: 2px;
    word-spacing: 5px;
    cursor: pointer;
    width: 350px;
    margin-left: 10px;
    border-radius: 10px;
}
.contact-container h1:hover{
    color:#885305;
    background-color: wheat;
    border: 3px solid #885305;
}
.contact-left p{
    margin-top: 12px;
    background: none;
    text-align: left;
    font-size: 15px;
}
.contact-left p i{
    margin-top: 10px;
    color: oldlace;
    font-size: 18px;
}
.social-icons a{
    text-decoration: none;
    margin-top: 10px;
    font-size: 25px;
    margin-right: 15px;
    color: oldlace;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    text-decoration: none;
    display:inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 125px;
    text-align: center;
    color: black;
    background-color: oldlace;
    border: 2px solid black;
    border-radius: 6px;
    padding: 6px 0px;
    margin-top: 10px;
    transition: all 0.5s;
    cursor: pointer;
}
.btn.btn2:hover{
    background: #885305;
}
.contact-right form{
    width: 40%;
    margin-top: -300px;
    margin-left: 700px;
}
form input, form textarea{
    width: 100%;
    border: 0px;
    outline: 0px;
    background: #c7c7c7;
    padding: 15px;
    margin: 5px;
    color: #080808;
    font-size: 15px;
    border-radius: 6px;
}
form btn2{
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}
form btn2:hover{
    background: #885305;
}



/* Footer Section */

#footer{
    background-color: rgb(77, 137, 141);  
}

.footer-left h1{
    width: 100%;
    color: #885305;
    background-color: rgb(4, 108, 116);
    text-align: left;
    font-size:larger;
    margin: auto;
    margin-left: 0px;
    border-radius: 0px;
    padding: 5px 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.footer-right h2{
    width: 100%;
    color: #885305;
    background-color: rgb(4, 108, 116);
    text-align:right;
    font-size:medium;
    margin-left: 0px;
    border-radius: 0px;
    padding: 5px 25px;
    margin-top: -35px;
    margin-bottom: 0px;
}
.footer-container p{
    width: 100%;
    font-size: small;
    text-align: center;
    padding: 3px 0;
    color: black;
    background: rgb(6, 153, 129);
    font-weight: 100;
    margin-top: -32px;
}
.footer-container p i{
    color:red;
}


/* CSS FOR SMALL SCREEN */

@media screen and (max-width:550px){
    .nav{
        padding: 5vw 5vw;
        height: 20px;
    }
    .nav-address .add-a{
        font-size: 4vw;
        height: 10px;
    }
    .nav-address .add-b{
        padding:2px 2px;
        height: 0.1vw;
    }
    .nav-list{
        font-size: 2vw;
        flex-direction: column;
    }
    .search-s{
        font-size: 1vw;
    }
    
    p .add-a{
        font-size: 0.1vw;
    }
    
}



